#container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(142, 201, 244);
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
}
body{ 
    text-align: center;
    background-color: rgb(197, 222, 240);
}
